html {
  /* background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://images.pexels.com/photos/908284/pexels-photo-908284.jpeg') no-repeat center center fixed;  */
  /* background: lightgrey; */
}

.login {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
    url("https://media.giphy.com/media/ZPXRNopHrMcMw/giphy.gif") no-repeat
      center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

body {
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  /* background-image: url('/work.jpeg'); */
  /* background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/work.jpeg'); */
  /* background-size: contain;
  background-repeat: no-repeat;
  background-position: center; */
  background-color: rgba(0, 0, 0, 0);
}

#load-wrapper {
  margin-top: 40vh;
}

#loader {
  width: 10vw;
  display: block;
  margin: auto auto;
}

#logo {
  margin-top: 1vh;
}

#footer {
  margin-top: 2vh;
  margin-bottom: 2vh;
  color: darkgrey;
}

h1.ui.header {
  color: lightblue;
  font-size: 5vh;
}

.reg-header {
  color: white;
}

.reg-form {
  background: grey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.registration.ui {
  width: 18vw;
  text-align: center;
  margin-top: 30vh;
  background-color: blue;
  padding-bottom: 2vh;
}

#card-description {
  height: 1.5vh;
}

.ui.card > .image > img,
.ui.cards > .card > .image > img,
.ui.card > .image,
.ui.cards > .card > .image {
  height: 23vh;
  width: 100%;
}

/* body.home{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/work.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

body.login {
  /* background-color: blue; */
}

.navbar {
  background: blue;
}

#card-group {
  /* padding-left: 2.7vw; */
  padding-right: 0;
  margin-top: 24vh;
}

/* #space-card {
  width: 10vh;
} */

.rate-div {
  background: rgb(5, 80, 128);
  opacity: 0.8;
  color: white;
  min-height: 5vh;
  vertical-align: center;
  padding-top: 1vh;
}

.ui.four.cards.spaces-list {
  margin: 0;
}

.ui.menu.spaces-menu {
  margin-top: 73px;
  margin-bottom: 7px;
  /* top: 90px; */
}

#search-bar {
  z-index: 5;
}

.ui.fluid.dropdown.features-dropdown {
}

.search-bar {
  width: 35vw;
}

.home {
  background: rgb(231, 230, 230);
  height: 100%;
}

body.register {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/work.jpeg") no-repeat center center fixed;
}

.view-header {
  margin-top: 12vh;
}

.ui.container.space-page {
  margin-top: 90px;
}

.ui.container.space-details {
  margin-bottom: 5vh;
}

.view-image-container {
  /* overflow: hidden; */
  /* height: 65vh; */
  width: 100%;
  margin-top: 15vh;
}

body.space-page {
  background: rgb(231, 230, 230);
  min-height: 100vh;
  /* padding-bottom: 5vh; */
}

body.profile {
  background: rgb(231, 230, 230);
  height: 100%;
}

.ui.big.centered.image {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 1vh;
}

.user-welcome {
  margin-left: 2vw;
  font-size: 4vh;
}

.ui.container.profile {
  margin-top: 12vh;
  padding-bottom: 5vh;
  overflow: hidden;
  min-height: 100vh;
}

/* .ui.container.bookings {
  margin-bottom:
} */

.ui.horizontal.segments.booking-div {
  background-color: white;
  margin-top: 1vh;
}

.ui.segments.bookings {
  background: #2c86cf;
  margin-bottom: 5vh;
}

.ui.menu:not(.vertical) .item > .button {
  margin-left: 0.4vw;
}

.ui.segment.booking-menu.highlight {
  border-style: solid;
  border-width: 5px;
  border-color: #00b5ad;
}

#days-div {
  width: 15vw;
}

#feature-icon {
  width: 8vh;
  length: 8vh;
  margin-right: 3vh;
}

#card-header {
  /* font-size: 1.25vw; */
  height: 3.2vh;
  overflow: hidden;
}

#card-features-div {
  margin-top: 1.5vh;
  border: 0vh;
  border-top: 1px;
  border-style: solid;
  border-color: rgb(236, 236, 236);
  padding-top: 1.2vh;
  height: 4vh;
  /* background: lightgrey; */
  /* min-height: 3.5vh; */
  /* padding: 1vh; */
}

#card-feature {
  width: 2.65vh;
  length: 2.65vh;
  margin-left: 0.5vh;
}

#map-container {
  height: 40vh;
}

#discount {
  color: rgb(33, 187, 33);
}

#features-dropdown {
  width: 60vw;
}

#reg-form {
  margin-top: 5vw;
}

.swal {
  height: 300px;
}

#avatar {
  height: 3rem;
  border-radius: 50%;
}

@media (max-width: 991px) {
  #card-img {
    height: 35vh;
  }
}

@media (max-width: 812px) {
  body {
    width: 100%;
  }
  #card-img {
    height: 20rem;
    object-fit: cover;
  }

  #card-group {
    margin-top: 12rem;
  }

  #card-feature {
    width: 2rem;
  }

  .rate-div {
    height: 4rem;
    padding-top: 1.5rem;
  }

  #logo {
    width: 20rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  #profile-div {
    padding-left: 0px;
    padding-right: 0px;
  }

  #loader {
    width: 25%;
  }
}
